<div class="container">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <link rel="stylesheet" href="/styles/layout.css" type="text/css">
    <!-- Brand -->

      <img src="https://img.icons8.com/bubbles/100/000000/combo-chart.png">
      <a class="navbar-brand" href="">POLLSTER</a>
      <span class="pull-right">
        <button id="createpollbutton" type="button" class="btn btn-secondary btn pull-right text-right">Create New Poll</button>
      </span>

  </nav>
</div>
