<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <img src="https://img.icons8.com/bubbles/100/000000/combo-chart.png">
        <a class="navbar-brand" href="">Decision Maker</a>
    </nav>
</div>