<%- include header.ejs %>
 <script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  } );
  </script>
<div class="row" id="sortable">
  <%  for (let choice of poll.choices){ %>
  <div class="card">
    <div class="card-body">
      <div><%= choice.title %></div>
      <small><%= choice.description %></small>
    </div>
  </div>
  <% } %>
</div>
<button type="button" class="btn btn-primary">Submit</button>
</body>
</html>
