<!DOCTYPE html>
<html lang="en">
<head>
    <%- include head.ejs %>
</head>
<body>
    <%- include nav.ejs %>
    <div class="container">
  <div class="jumbotron">
      <h1 class="display-4"></h1>
      <p class="lead">Thank you <%= creatorName %> for submitting a new poll!</p>
      <p class="lead">Two links will be sent to the email you provided.</p>
      <p class="lead">A submission link to allow your friends to vote and another to view the poll results.</p>
    </div>
  </div>
</body>
</html>