<!DOCTYPE html>
<html lang="en">
<head>
    <%- include head.ejs %>
</head>
<body>
    <%- include nav.ejs %>
  <div class="jumbotron">
      <h1 class="display-4"></h1>
      <p class="lead">Thank you <%= creatorName %> for submitting a new poll. Links will be sent to you so you can invite your friends.</p>
    </div>
</body>
</html>