// See: https://sass-lang.com/

body {
  background: url('../images/mountains.jpg');

  h1 {
    color: #244751;
  }
}

#sortable {
  display: flex;
  flex-direction: column;
 }

 .navbar {
   width: 100%
 }


 #indexbody {
  font-family: 'Roboto Mono', monospace;
 }

 .container {
  padding: 0px;
 }

 .jumbotron {
   background-color: #0B4F6C;
 }


 #indexbutton {
  text-align: center;
  align-content: center;
}

#createpollbutton {
  text-align: right;
  align-content: right;
}

 