// See: https://sass-lang.com/

body {
  background-color: black;

  h1 {
    color: #244751;
  }
}

#sortable {
  display: flex;
  flex-direction: column;
 }

 .navbar {
   width: 100%
 }

 #indexbody {
   background-color: lightgrey;
 }

 #indexbody {
  font-family: 'Roboto Mono', monospace;
 }

 .container {
   padding: 0px;
 }
