// .results_table {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   };

  body {
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .hello_result {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
.question {
  font-size:25px;
  margin-left: 10%;
}

table {
  width:550px;
  margin-left: 150px;

}

  table td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;

  }

table tr:nth-child(even) {
  background-color: transparent;
  }
table tr:nth-child(odd) {
  background-color: transparent;
  }

table th {
    height :40px;
    color: rgb(8, 5, 5);
    background-color: lightblue;
  }

  .voter_number {
    display: flex;
    margin-top: 40px;
    margin-left:150px;
    font-size: 25px;
  }
.voter_name {
    display: flex;
    // margin-top: 10px;
    margin-left:150px;
    font-size: 25px;
    margin-bottom:10px;
  }

.table_number_name {
  display: flex;
  margin-top: 25px;
  // margin-left :0%;
  width:120%;

}
#piechart {
  width: 50%;
  // margin-left: 200px;
  -webkit-animation: fadein 4s;
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#piechart:hover
{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
    }
#CopyButton {
  display: flex;
  margin-left:150px;

}
