.results_table {
  display: flex;
  align-items: center;
  justify-content: center;
  };
  .hello_result {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }

  .voter_number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  }
