// .results_table {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   };
  .hello_result {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }

  .voter_number {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
    font-size: 25px;
  }

  table,  td {
    border: 1px solid black;
    padding: 15px;
    width:50%;

  }

table tr:nth-child(even) {
    background-color: #eee;
  }
table tr:nth-child(odd) {
   background-color: #fff;
  }

table th {
    height :20px;
    color: white;
    background-color: black;
  }

.voter_name {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-content: center;
    font-size: 25px;
  }

